* {
    font-family: Inter;
    box-sizing: border-box;
}

button {
    cursor: pointer;
    border-radius: var(--radius_6);
}

input:focus-visible {
    outline: none;
}

button,
input {
    border: none;
}

table {
    border-spacing: 0;
}

ul {
    padding: 0;
    list-style: none;
}